<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Reviews</title>
    <meta name="description" content="Page Description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Course Reviews: Find the Best Courses for You</h1>
    <hr>
    <form action="{% url "post_review_page"%}" >
        <button>Post Review</button>
    </form>
    <hr>

    <form action="{% url "review_of_single_course"%}" method="POST">
        {%csrf_token%}
        <label for="search-input">Search for the Course, for which you want the review:</label>
        <input type="text" name="course" placeholder="Enter course name">
        <button type="submit">Search</button>
    </form>
      

    <ol>
        {%for course in courses%}
            <li>
                Course Name: {{course.name}}<br>
                Average Grade: {{course.grade}}<br><br>
            </li>
        {%endfor%}
    </ol>
</body>
</html>
